<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Conteudo do OCA">
    <meta name="author" content="Gabriella Esteves">

    <title>Certificação OCA</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <!-- =============== MENU =============== -->
    <nav>
        <a href="#">Flash cards</a>
        <a href="#">Tópicos</a>
        <a href="#">Dicas</a>
    </nav>

    <!-- ============== TÍTULO ============== -->
    <h2>Certificacao OCA - Java 8</h2>


    <!-- ============ MEUS CARDS ============ -->
    <div class="container">
      <% cards.forEach(function(card) { %>

        <div class="card">
          <a href="#"><%= card.title %></a>
          <p><%= card.description %></p>
          <div class="tags">
            <% card.tags.forEach(function(tag) { %>
              <a href="#"><%= tag %></a>
            <% }); %>
          </div>
        </div>

      <% }); %>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
